
.cluster-map{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: none;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    display: none;
}

.cluster-map-1{
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: none;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
}

.cmpara{
    width: 100%;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-style: normal;
    line-height: 20px;
    letter-spacing: 0.96px;
    text-align: left;
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 50px;
}

.cluster-map-2{
    /* padding-left: 100px; */
    width: 60%;
    height: 100%;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.cluster-map-3{
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    /* align-items: center; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 0%;
    padding-top: 0%;
}

#engpath, #lapath, #ahpath, #manpath, #bspath{
    transition: ease 0.5s;
}


#closeclusterbtn{
    width:100%;
    text-align: center;
    display: none;
    border: 2px solid red;
    position: absolute:
    top:10%;
    left : 10%;
    
}

@media screen and (max-width:600px){
    .cluster-map{
        width: 100%;
        text-align: center;
    }
    .cluster-map-1{
        display: table-row-group;
        width: 90%;
        padding-left: 0px;
    }
    .cmpara{
        width: 90%;
        color: #FFFFFF;
        font-family: 'Montserrat', sans-serif;
        font-size: 13px;
        font-style: normal;
        line-height: 20px;
        letter-spacing: 0.96px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        padding-left: 0px;
        margin-top: 0px;
    }
    .cluster-map-2{
        display: table-header-group;
        width:90%;
        padding-left: 0px;
    }

    .cluster-map-2 svg{
        width: 80%;
        height: max-content;
    }

    .cluster-map-3{
        display: table-footer-group;
        width: 90%;
        padding-left: 0px;
    }

    .cluster-map-3 svg{
        width: 100;
        margin: 10px;
    }

    #closeclusterbtn svg{
        width: 50%;
    }
    
}
